<nav class="mb-5">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item"><a routerLink="/entries">Lançamentos</a></li>
        <li class="breadcrumb-item active"> Formulário de Lançamentos: {{pageTitle}}</li>
    </ol>
</nav>
<div class="row mb-4">
    <div class="col-md">
        <h1 class=" h2 border-left pl-2">
            Editando Lançamento: {{pageTitle}}
        </h1>
        <span>{{descriptionEntrySmall}}</span>
    </div>
    <div class="col-md-2 btnBack">
        <a  routerLink="/entries"class="btn btn-info text-white  float-sm-left">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="text-white" class="bi bi-arrow-left"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
            </svg>
            Voltar
        </a>
    </div>
</div>
<form [formGroup]="entryForm" (submit)="submitForm()">
    <div class="card">
        <div class="card-header">
            Informações sobre o lançamento:
        </div>
            <div class="card-body">
               
                <div class="row">
                        <!--type-->
                        <div class="form-group col-md-2">
                            <label for="type">
                                Tipo
                            </label>
                            <select name="type" id="type" formControlName="type" class="form-control">
                                
                                <option (click)="type.setValue(true)" value="true">Dispesas</option>
                                <option (click)="type.setValue(false)" value="false">Receitas</option>
                                                                
                            </select>
                            <div class="text-danger " required *ngIf="type.invalid && type.touched">
                                <div *ngIf="type.errors?.['required']">Campo obrigatório.</div>
                            </div>
                        </div>  
                                   
                   <!--lançamento-->
                    <div class="form-group col-md-5">
                        <label for="name">
                            Lançamento
                        </label>
                        <input type="text" class="form-control" id="name" formControlName="name">
                        <div class="text-danger " required *ngIf="name.invalid && name.touched">
                            <div *ngIf="name.errors?.['required']">Campo obrigatório.</div>
                            <div *ngIf="name.errors?.['minlength']">Campo deve ter no minímo 2 caracteres.</div>
                        </div>
                    </div>
                    <!--valor-->
                    <div class="form-group col-md-3">
                        <label for="amount">
                            Valor
                        </label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">R$</div>
                            </div>
                            <input [imask]="imaskConfig" type="text" class="form-control text-end" id="amount" formControlName="amount">
                        </div>
                        <div class="text-danger " required *ngIf="amount.invalid && amount.touched">
                            <div *ngIf="amount.errors?.['required']">Campo obrigatório.</div>
                            <div *ngIf="amount.errors?.['minlength']">Campo deve ter no minímo 2 caracteres.</div>
                        </div>
                    </div>
                     <!--data-->
                    <div class="form-group col-md-2">
                        <label for="date">Data</label>
                        <p-calendar
                         id="date" 
                         formControlName="date"
                          inputStyleClass="form-control"
                          dataType="string"
                          dateFormat="dd/mm/yy"
                          [locale]="ptBR"
                          [showButtonBar]="true"
                          >

                        </p-calendar>
                        
                        <div class="text-danger " required *ngIf="date.invalid && date.touched">
                            <div *ngIf="date.errors?.['required']">Campo obrigatório.</div>
                        </div>
                    </div>
                    <!--pago-->
                    <div class="form-group col-md-2">
                        <label  >
                            Pago
                        </label><br>
                        <div class="btn-group">
                            <label (click)="paid.setValue(true)" class="btn btn-outline-info btn-group-lg" [class.active]="paid.value == true">Pago</label>
                            <label (click)="paid.setValue(false)" class="btn btn-outline-info" [class.active]="paid.value == false">Pendente</label>
                        </div>
                        <div class="text-danger " required *ngIf="paid.invalid && amount.touched">
                            <div *ngIf="paid.errors?.['required']">Campo obrigatório.</div>
                        </div>
                    </div>
                    <!--categoryId-->
                    <div class="form-group col-md-3">
                        <label for="categoryId">
                            Categoria
                        </label>
                        <select name="categoryId" id="type" formControlName="categoryId" class="form-control">
                            <option *ngFor="let category of categories" [value]="category.id">
                               {{ category.name}}
                            </option>
                        </select>
                        <div class="text-danger " required *ngIf="categoryId.invalid && categoryId.touched">
                            <div *ngIf="type.errors?.['required']">Campo obrigatório.</div>
                        </div>
                    </div>
                    <!--description-->
                    <div class="form-group col-md-7">
                        <label for="description">Descrição</label>
                        <input type="text" class="form-control" id="description" formControlName="description">
                    </div>
                </div>

            </div>
        </div>
        <div>
            <div class="alert alert-danger mt-4" *ngIf="serverErrorMessages">
                <strong>Erro no servidor: </strong>
                <ul>
                    <li *ngFor="let err of serverErrorMessages">
                        {{err}}
                    </li>
                </ul>
            </div>

            <button [disabled]="submittingForm || entryForm.invalid" type="submit" class="btn btn-primary text-right btn-lg  mt-3">
                Salvar
            </button>
        </div>   
    </form>
    <pre>{{entryForm.value | json}}</pre>