<nav *ngIf="showMenuUser"   class="navbar navbar-expand-lg navbar-dark bg-danger mb-4">
  <div class="container-fluid">
    <a class="navbar-brand fontMarca"  routerLink="/home" >GiiModas</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">      
        <li class="nav-item dropdown" routerLinkActive="active">
          <a class="nav-link dropdown-toggle"  id="navbarDropdown" routerLink="/categories/new" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Feminino
          </a>
          <ul class="dropdown-menu fontMarca" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Calças</a></li>
            <li><a class="dropdown-item" href="#">Vestidos</a></li>
            <li><a class="dropdown-item" href="#">Macação</a></li>
            <li><a class="dropdown-item" href="#">Top</a></li>
            
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Masculino
          </a>
          <ul class="dropdown-menu fontMarca" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Camisas</a></li>
            <li><a class="dropdown-item" href="#">Calças</a></li>
           
          </ul>
        </li>
      
      </ul>
      <form class="d-flex ">
        <input class="form-control me-2" type="search" placeholder="O que você procura?" aria-label="Search">
        <button class="btn btn-outline-danger" type="submit">	<mat-icon class="costomIcon">search</mat-icon></button>
      </form>
    </div>
  </div>
</nav>
<nav *ngIf="!showMenuUser" class="navbar navbar-expand-lg navbar-dark cor mb-4">
  <div class="container-fluid">
    <a class="navbar-brand fontMarca"  routerLink="/home" >GiiModas</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">      
        <li class="nav-item dropdown" routerLinkActive="active">
          <a class="nav-link"  id="navbarRelatorios" routerLink="/reports">
            Relatórios
          </a>
        </li>
        <li class="nav-item dropdown" routerLinkActive="active">
          <a class="nav-link"  id="navbarLançamentos" routerLink="/entries" >
            Lançamentos Bolsas
          </a>
        </li>
        <li class="nav-item dropdown" routerLinkActive="active">
          <a class="nav-link"  id="navbarLançamentos" routerLink="/categories" >
            Categorias
          </a>
        </li>                     
      </ul>
    </div>
  </div>

</nav>
<div class="container">
<router-outlet></router-outlet>
</div>

